//
   Created by khris on 11-13-16.

extends ../base

append head
    style.

block enlaces
    li
        a.page-scroll(href='/inicio') inicio
    li
        a.page-scroll(href='#prueba') prueba

block content

    section#prueba
        .container(ng-controller="temperatura")
            .row
                .col-lg-12
                    h2 Control de Temperaturas:
                    .panel.panel-primary
                        .panel-heading Informacion sobre la prueba
                        .panel-body
                            .row
                                .col-md-12
                                    .panel.panel-info
                                        .panel-heading informacion de la prueba
                                        .panel-body
                                            .row
                                                .col-md-6
                                                    h6 Id de prueba: #{p._id}
                                                    h6 Titulo: #{p.titulo}
                                                    h6 Carnet de estudiante: #{p.carnet}
                                                    h6 Descripcion: #{p.descripcion}
                                                .col-md-6
                                                    h6 Fecha de creacion #{p.fecha }
                                                    h6 aletas:
                                                        span.label.label-primary {{prueba.material1.nombre}}
                                                        span.label.label-info(ng-if="prueba.conjunto" ng-bind="prueba.material2.nombre")
                                                    h6 materiales:
                                                        span.label.label-primary {{prueba.aleta1.forma}}
                                                        span.label.label-info(ng-if="prueba.conjunto" ng-bind="prueba.material2.nombre")
                                                    h6 estado:
                                                        span(ng-if="p.realizada") realizada
                                                        span(ng-if="!p.realizada") sin realizar

                            .row
                                .col-md-12
                                    hr
                                    .panel.panel-default
                                        .panel-heading temperaturas
                                        .panel-body#imprimir
                                            .row
                                                .col-md-4
                                                .col-md-4
                                                    a.btn.btn-lg.btn-success(ng-click="conectar()" ng-show="pruebaEnProgreso == false") Iniciar prueba
                                            .row(ng-if="pruebaEnProgreso == true")
                                                div
                                                    ul.nav.nav-tabs(role='tablist')
                                                        li.active(role='presentation')
                                                            a(href='#aleta1', aria-controls='aleta1', role='tab', data-toggle='tab') {{prueba.aleta1.forma}} - {{prueba.material1.nombre}}
                                                        li(ng-if="prueba.conjunto" role='presentation')
                                                            a(href='#aleta2', aria-controls='profile', role='tab', data-toggle='tab') {{prueba.aleta2.forma}} - {{prueba.material2.nombre}}

                                                    // Tab panes
                                                    .tab-content
                                                        #aleta1.tab-pane.active(role='tabpanel')
                                                            .col-md-5(style="height: 700px")
                                                                h4 Perfil de temperatura
                                                                canvas#line.chart.chart-line(chart-data='data1', chart-labels='labels1', chart-series='series1', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick', <='', canvas = '')
                                                                hr
                                                                h4 Temperatura/tiempo
                                                                canvas#line.chart.chart-line(chart-data='data', chart-labels='labels', chart-series='series', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick', <='', canvas = '')
                                                                hr
                                                                h4 Tiempo de prueba:
                                                                h4
                                                                    timer(interval="1000") {{hours}} horas, {{minutes}} minutos, {{seconds}} segundo{{secondsS}}.
                                                            .col-md-7
                                                                h4 Tabla de valores
                                                                div(style="height: 650px;overflow-y: auto;")
                                                                    table.table.table-bordered.table-striped.table-responsive
                                                                        thead
                                                                            tr
                                                                                th Tiempo(Segundos)
                                                                                th Sensor 1
                                                                                th Sensor 2
                                                                                th Sensor 3
                                                                                th Sensor 4
                                                                                th Sensor 5
                                                                                th accion
                                                                        tbody
                                                                            tr(ng-repeat="val in capturas.lista")
                                                                                td {{val.tiempo}} s
                                                                                td {{val.s1}} °C
                                                                                td {{val.s2}} °C
                                                                                td {{val.s3}} °C
                                                                                td {{val.s4}} °C
                                                                                td {{val.s5}} °C
                                                                                td
                                                                                    a.btn.btn-info(ng-click="seleccionar(val)") seleccionar

                                                        #aleta2.tab-pane.active(role='tabpanel')



                                        .panel-footer
                                            .row(ng-if="pruebaEnProgreso == true")
                                                .col-lg-3
                                                    a.btn.btn-lg.btn-danger(ng-click="desconectar()" ng-if="pruebaEnProgreso== true") Cancelar Prueba
                                                .col-lg-3
                                                    a.btn.btn-lg.btn-info(ng-click="finalizar()" ng-if="pruebaEnProgreso== true") Finalizar prueba
                                                .col-lg-3
                                                    a.btn.btn-lg.btn-warning(ng-click="reiniciar()" ng-if="pruebaEnProgreso== true") Reinicar prueba
                                                .col-lg-3
                                                    a.btn.btn-lg.btn-success(onclick="imprimir()" ng-if="pruebaEnProgreso== true") Imprimir resultado
append script
    script.
        function imprimir() {
            var printContents = document.getElementById('imprimir').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

